.profile {
    text-align: center;
    width: 440px;
    color: white;
    border: 3px solid white;
    border-radius: 8px;
    box-shadow: 0 px 4px rgba(0, 0, 0, 0.1);
    background: #020024;
        background: linear-gradient(135deg, rgba(2, 0, 36, 1) 10%, rgba(9, 9, 121, 1) 63%, rgba(0, 212, 255, 1) 99%);
    background-size: 300% 300%;
    transition: box-shadow 400ms ease;
    animation: movingGradient 20s ease infinite;
    cursor: pointer;
}

@keyframes movingGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.profile:hover {
    box-shadow: 0 0 10px 5px gold;
}

.description {
    padding: 20px;
}

.avatar {
    width: 100px;
    border-radius: 50%;
    background-color: #313436;
}

.name {
    font-size: 20px;
    font-weight: 700;
}

.tag,
.location {
    font-size: 16px;
    color: gold;
    font-weight: 600;
}

.stats {
    display: flex;
    gap: 2px;
    justify-content: space-around;
    background-color: #242424;
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 3px solid #d8d8d8;
    list-style: none;
    overflow: hidden;
}

.item {
    padding: 10px;
    outline: 1px solid #d8d8d8;
    flex-basis: calc((100% - 4px) / 2);
    transition: all 250ms ease;
}

.item:hover {
    background-color: blue;
}

.item:hover .label {
    font-weight: bold;
}

.label {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: gold;
    transition: font-weight 250ms ease;
}

.quantity {
    font-size: 16px;
    font-weight: 700;
}