.transactionTable {
    width: 100%;
    border-collapse: collapse;
}

.transactionTable th,
.transactionTable td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    color: black;
}

.transactionTable th {
    color: black;
    background-color: #eeeadd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: #fff;
    transition: background-color 250ms ease;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    transition: background-color 250ms ease;
}

tr:hover {
    background-color: rgb(122, 183, 233);
}